@import url('https://fonts.googleapis.com/css?family=Raleway|Roboto:400,700');

body {
  font-family: 'Raleway', sans-serif;
  /* background-image: url(../images/background.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-color: #F7F6F1;
}

/* ///////////////////////////////////////////////////////////////// */
/* HEADING STYLES */
h1 {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 104px;
  color: #313639;
}

h2, h3 {
  /* Vmin adjust the font size according to page size */
  font-size: 5vmin;
  letter-spacing: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #313639;
  ;
  font-family: 'Roboto', sans-serif;
}

h2 {
  margin-bottom: 15px;
  text-decoration: none;
}

h4 {
  font-size: 12vmin;
  text-decoration: underline;
  text-transform: uppercase;
}

.info {
  font-size: 30px;
  line-height: 1.5;
}

p {
  color: black;
  font-size: 18px;
  line-height: 1.5;
}

/* NAVIGATION STYLES */
nav {
  position: absolute;
  transition: bottom 2s;
}

/* ALL LINK STYLES */
a {
  text-decoration: none;
  text-transform: uppercase;
  color: black;
}

/* NAV LINKS */
nav a {
  padding: 30px 30px 30px 0px;
  font-size: 20px;
}

nav a:hover {
  color: orange;
}

.margin-bottom {
  margin-bottom: 15px;
}

.info {
  margin-bottom: 104px;
}

/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  width: 100%;
}

footer a {
  padding: 10px;
}

small {
  color: #313639;
  display: block;
  margin-top: 15px;
}

/* SOCIAL MEDIA LOGO link styles */
.logo {
  position: absolute;
  margin-right: 50%;
  margin-left: 50%;
  text-align: center;
}

/* ////////////////////////////////////////////////////////////// */
/* INDEX PAGE STYLES */
.subheading {
  padding: 0;
  text-align: left;
}

/* This controls the fixed left-hand section */
section.fixed {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 90vh;
  padding: 5%;
  display: flex;
  justify-content: flex-start;
}

/* Scrollable content on the right-hand section  */
main {
  margin-top: 35vh;
  margin-bottom: 30vh;
  margin-left: 50%;
  z-index: 100;
  width: 50%;
}

/* Turn the project images opacity down */
.project img {
  opacity: 0.8;
}

/* Slide in title styles */
.big-title {
  position: absolute;
  transform: translateY(-50%);
  top: -200px;
  font-size: 9vmin;
  letter-spacing: 10px;
  transition: font-size 1s, opacity 0.4s, top 2s;
  font-family: 'Raleway', sans-serif;
}

/* Spacing & alignment for projects */
section.project {
  text-align: left;
  margin-bottom: 300px;
  margin-top: 30px;
  margin-right: 50px;
  line-height: 1.5;
}

div.project-writeup {
  margin-top: 20px;
}

.subheading {
  margin-bottom: 60px;
}

/* adjusts the viewpoint height beneth the  intro */
.intro {
  margin-bottom: 45vh;
}

/* Text that appears from the bottom  */
.hidden-text {
  position: absolute;
  bottom: -600px;
  transition: bottom 2s;
}

/* Video styles */
video {
  width: 100%;
  height: auto;
  opacity: 0.8
}
video:hover {
  outline-style: solid;
  outline-color: orange;
}
/* ////////////////////////////////////////////////////////////////////// */
/* CONTACT & PROJECT PAGES */
/* Fixed nav styles */
.fixed-nav {
  overflow: hidden;
  position: fixed;
  /* Set the navbar to fixed position */
  top: 50px;
  left: 50%;
  /* Position the navbar at the top of the page */
  width: 100%;
}

/* ////////////////////////////////////////////////////////////////////// */
/* PROJECT PAGE STYLES */
/* Individual project styles */
.granular img {
  max-width: 100%;
  height: auto;
}

/* Project page header style */
.pageheader {
  position: fixed;
  top: 0;
}

/* ////////////////////////////////////////////////////////////////////// */
/* CONTACT PAGE STYLES */
/* margin 0 auto allows the element to be pushed into the middle of the screen */
.contact-content {
  margin-top: 200px;
}

.contact-image img {
  width: 400px;
}

.contact-image video {
  width: 100%;
}

.contact-content .row {
  margin-top: 20px;
}

/* FORM STYLES */
label {
  display: block;
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  font-size: 12px;
  color: #313639;
}

input[type="email"], input[type="text"], textarea {
  width: 100%;
  border: 1px solid #b2b2b2;
  border-radius: 4px;
  padding: 10px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  outline-color: #313639;
}

textarea {
  resize: vertical;
  height: 100px;
}

input [type="submit"] {
  background-color: orange;
  padding: 10px 30px;
  font-size: 14px;
  text-transform: capitalize;
  border-radius: 4px;
  cursor: pointer;
}

.about-me {
  margin-top: 200px;
  text-align: center;
}

h4.mobile-text {
  display: none;
}

/* ////////////////////////////////////////////////////////////////////// */
/* Media queries */
@media screen and (max-width: 1380px) {
  h1 {
    font-size: 80px;
  }

  main {
    margin-left: 49%;
  }
}

@media screen and (max-width: 1080px) {
  body {
    text-align: center;
  }

  section.fixed {
    height: auto;
    position: static;
    width: 100%;
    display: block;
  }

  /* Scrollable content on the right-hand section  */
  main {
    margin-top: 50px;
    margin-bottom: 30vh;
    margin-left: 0px;
    z-index: 100;
    width: 100%;
    padding: 30px;
  }

  section.intro {
    margin-bottom: 100px;
  }

  nav {
    position: static;
    margin-top: 20px;
  }

  nav a {
    padding: 20px;
  }

  .info {
    font-size: 20px;
  }

  .subheading {
    padding: 0;
    text-align: center;
  }

  /* Slide in title styles */
  .big-title {
    position: static;
    transition: none;
  }

  .hidden-text {
    display: none;
  }

  h4.mobile-text {
    display: block;
    font-size: 30px;
    margin-bottom: 20px;
  }

  section.project {
    margin-bottom: 300px;
    text-align: center;
    margin-right: 0px;
  }
}
